/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #33475b;
}

i{
  color: #ff7a59;
}

.orangebutton{
  background-color: #ff7a59;
  line-height: 20px;
  color: white;
  padding: 2% 2%;
  border-radius: 4px;
}

#grey-button{
  background-color: lightgrey;
  line-height: 20px;
  color: #33475b;
  padding: 2% 2%;
  border-radius: 4px;
}

 .orangebutton-main{
   background-color: #ff7a59;
   line-height: 20px;
   color: white;
   padding: 4% 4%;
 }

header{
  height: 660px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}

main{
  background-color: #e3ecf5;
}

footer{
  height: 650px;
  background-color: #33475b;
  padding: 3% 6%
}

 /* regole header */

  #selezione-lingua{
   width: 100%;
   padding: 1.3% 8%;
   background-color: #e3ecf5;
   border-bottom: 2px solid lightgrey;
   position: fixed;
   z-index: 999;
 }


  #menu-navigazione{
    background-color: white;
    height: 145px;
    padding-top: 7%
  }

 .riga::after{
   content: "";
   display: table;
   clear: both;
   width: 100%;
 }

 .colonna50{
   width: 50%;
   float: left;
 }


 #selezione-lingua, a{
   text-decoration: none;
   display: inline-block;
   color: grey;
   padding-right: 20px
 }

 .linea{
   border-bottom: 13px solid darkgrey;
   display: inline-block;
 }

/* regole navbar */

 .lingua-contattaci{
   padding-top: 2%;
 }

 .login{
   padding-left: 46%
 }

  #menu-navigazione li{
   display: inline-block;
 }

 .main-nav{
   padding-left: 12%
 }

  #better-together li{
   display: inline-block;
   color: grey;
 }

  a:hover{
   color: #ff7a59;
  }

  li:hover{
   color: #ff7a59;
  }

 #logo{
   padding-bottom: 2%
 }

/* sezione jumbotron */


#jumbo, p{
  padding: 3% 0;
}

.servizi{
  line-height: 25px;
}

/* sezione better together */

.cubo{
  width: 15%;
  padding-top: 3%
}

#better-together .colonna20{
  text-align: center;
  margin: 0 auto
}

.libro{
  width:50%;
  margin-top: 20%;
  margin-left: 4%;
  margin-bottom: 6%
}

.colonna20 .orangebutton{
  margin-left: 65px
}

.collaborazione{
  text-align: center;
  margin: 0 auto;
}

.riga-laterale hr{
  display: inline-block;
  line-height: 50px
}

.colonna20{
  width: 20%;
  height: 250px;
  float: left;
  background-color: white;
  border-radius: 5px;
}

.colonna80{
  width: 80%;
  height: 250px;
  float: left;
  background-color: white;
  padding-top:2%;
  border-radius: 5px;
}

.colonna80 li{
  margin-right: 15px
}

.colonna80 h4{
  padding-bottom: 23px;
  display: inline-block;
}

hr{
  width: 68%;
  display: inline-block;
}


/* sezione servizi offerti */

.riga::after{
  content: "";
  display: table;
  clear: both;
}

.hub1{
  background-color: white;
  width: 32%;
  margin: 2% 0;
  text-align: center;
  float: left;
  padding-bottom: 1.9%;
  border-radius: 5px;
}

.hub1 h4{
  padding: 9% 0;
}

.hub2{
  background-color: white;
  width: 32%;
  margin: 2% 2%;
  text-align: center;
  float: left;
  padding-bottom: 2%;
  border-radius: 5px;
}

.hub3{
  background-color: white;
  width: 32%;
  margin: 2% 0;
  text-align: center;
  float: left;
  padding-bottom: 2%;
  border-radius: 5px;
}

.hubs{
  line-height: 25px;
}
#servizi-offerti i{
  padding-right: 5%;
}

#servizi-offerti li{
  list-style-type: none;
  text-align: left;
  padding: 0 3%;
}

#servizi-offerti ul{
  padding-left: 5%;
  padding-bottom: 10%;
}

.imm-hub{
  height: 100px;
  margin: 11% 14%;
}

#serviziofferti, span p{
  padding: 0 9%;
  padding-bottom: 9%
}


.hub1 h4{
  padding: 9% 0;
}

.hub2 h4{
  padding: 9% 0;
}

.hub3 h4{
  padding: 9% 0;
}

h5{
  font-size: 20px;
  padding-bottom: 6%
}

span{
  padding: 0 3%
}

/* sezione potenziale crescita */

#potenziale-crescita{
  background-color: #00bda5;
  padding: 4% 0;
}


.quadrato1, .quadrato2, .quadrato3, .quadrato4{
  float: left;
  width: 25%;
  background-color: #00bda5;
  padding: 4% 0;
}

.paragrafo{
  text-align: center;
  margin: 0 auto;
}

.paragrafo h2{
  color: white
}

.paragrafo p{
  color: white
}

.quadrato1, .quadrato2, .quadrato3, .quadrato4{
  text-align: center;
  margin: 0 auto;
  color: white
}

.numeri-grassetto{
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 2% 0
}

.scritte-inferiori{
  color: white
}

#potenziale-crescita .riga:first-child{
  border-bottom: 1px solid white;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
}

.quadrato1, .quadrato2, .quadrato3{
  border-right: 1px solid white;
}


.scritte-inferiori{
  font-size: 88%;
}

/* sezione testimonianze */

.colonna28{
  width: 28%;
  float: left;
}

.colonna72{
  width: 72%;
  float: left;
  margin-top: 2%
}

.tools{
  line-height: 25px;
}

#testimonianze{
  background-color: white
}

#testimonianze .colonna50{
  padding: 0 8%;
  padding-top: 8%
}

#num-utenti{
  font-size: 30px;
  font-weight: bold;
  margin: 8% 8%;
  text-align: center;
}

#utenti{
  padding-left: 37%;
  line-height: 163%;
  font-size: 97%;
}

.colonna72 li{
  display: inline-block;
  text-align: center;
  padding: 1% 2%;
}

.quadrato{
  width: 18%;
  float: left;
  padding: 0 4%;
  margin-top: 2%;
}

.immagini-aziende{
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(150%, -50%);
}

#testimonianze h1{
  padding-bottom: 6%;
}

#testimonianze .colonna50 p{
  padding: 10% 0;
}

#ragazza{
  width: 60%;
  transform: translate(54%, -12%);
}

/* regole footer */

.colonna25{
  width: 25%;
  float: left;
  font-size: 85%;
}

h6{
  color: white;
  font-size: 20px;
  padding-left: 6%;
  padding-bottom: 10%;
  font-size: 120%;
}

.colonna25 li{
  padding-bottom: 6%;
  padding-left: 6%;
  list-style: none;
}

.colonna25 a{
  color: white
}

.colonna25 a:hover{
  color: #679cd4;
}


.scelta-lingue ul{
  text-align: center;
  margin: 0 auto;
  padding-top: 15%;
  font-size: 85%;
}

.scelta-lingue li{
  display: inline-block;
  list-style: none;
  color: white;
  padding-right: 3%
}

.scelta-lingue a{
  color: white;
}

.scelta-lingue a:hover{
  color: #679cd4;
}

.social li{
  display: inline-block;
  padding-right: 2%
}

.social i{
  color: white;
}

footer hr{
  width: 100%
}

.ultima-barra .colonna50{
  padding-top: 1%
}

.copyright{
  color: white;
}

.condizioni-privacy{
  color: white;
  font-size: 85%;
}

.condizioni-privacy:first-child{
  padding-left: 50%
}

.centratura{
  padding: 0 8%;
}
