/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  font-family: 'Open-sans', sans-serif;
  color: #33475b;
}



.orangebutton{
  background-color: orange;
  line-height: 20px;
  color: white;
  padding: 2% 2%;
}

header{
  height: 600px;
  background-color: pink;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}

main{
  /* height: 1000px; */
  background-color: #e3ecf5;
}

footer{
  height: 100px;
  background-color: green;
}

 /* regole header */

  #selezione-lingua{
   padding: 1% 0;
   background-color: #e3ecf5;
   border-bottom: 2px solid lightgrey
 }

  #menu-navigazione{
    background-color: white;
    height: 66px;
    padding-top: 2%
  }

 .riga::after{
   content: "";
   display: table;
   clear: both;
   width: 100%;
 }

 .colonna50{
   float: left;
   /* background-color: lightgrey; */
   width: 50%;
   padding: 0 5%
   /* height: 20px; */
 }

 #selezionelingua, a{
   text-decoration: none;
   display: inline-block;
   color: grey;
   padding-right: 20px
 }

/* regole navbar */

 .lingua-contattaci{
   padding-top: 2%;
 }

 .login{
   padding-left: 47%
 }
  #menu-navigazione li{
   display: inline-block;
 }
  #better-together li{
   display: inline-block;
   color: grey;
 }
  a:hover{
   color: orange;
  }
  li:hover{
   color: orange
  }

 #logo{
   padding-bottom: 2%
 }

/* sezione jumbo */

#jumbo, p{
  padding: 3% 0;
}

/* sezione better together */
.cubo{
  width: 15%;
  padding-top: 3%
}

.libro{
  /* width:20% */
  height: 110px;
  margin: 11% 14%;
}
.colonna20 .orangebutton{
  margin-left: 65px
}
.collaborazione{
  text-align: center;
  margin: 0 auto;
}


.colonna20{
  width: 20%;
  height: 250px;
  float: left;
  background-color: white
}
.colonna80{
  width: 80%;
  height: 250px;
  float: left;
  background-color: white;
  padding-top:2%
}
.colonna80 li{
  margin-right: 15px
}
h4{
  padding-bottom: 23px;
}

/* sezione servizi offerti */

.riga::after{
  content: "";
  display: table;
  clear: both;
}


.colonna1{
  width:32%
}

.hub1{
  background-color: white;
  /* width: 32%; */
  margin: 6% 0;
  text-align: center;
  float: left;
}

.hub2{
  background-color: white;
  width: 32%;
  margin: 2% 2%;
  text-align: center;
  float: left;
}

.hub3{
  background-color: white;
  width: 32%;
  margin: 2% 0;
  text-align: center;
  float: left;
}

#servizi-offerti li{
  text-decoration: none;
  text-align: left;
}

/* sezione potenziale crescita */
#potenziale-crescita{
  background-color: #00bda5;
  padding: 2% 0;
}


.quadrato1, .quadrato2, .quadrato3, .quadrato4{
  float: left;
  width: 25%;
  height: 80px;
  background-color: #00bda5;
  border: 1px solid white
}

.paragrafo{
  text-align: center;
  margin: 0 auto;
}

.centratura{
  padding: 0 5%;
}
